@import url('https://fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,700,800,900');

html,body {
  font-family: 'Prompt', sans-serif;
  height:100%;
  font-size:100%;
}

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}

.wrapper {
  position:relative;
  width:1080px;
  margin:0 auto;
}

.wrapper:before, .wrapper:after, .clearfix:before, .clearfix:after {
  content:'';
  display:table;
}

.wrapper:after, .clearfix:after {
  clear:both;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:800;
  margin:15px 0;
}

h1 {
  font-size:2.8em;
}

h2 {
  font-size:2.4em;
}

h3 {
  font-size:2em;
}

h4 {
  font-size:1.75em;
}

h5 {
  font-size:1.5em;
}

h6 {
  font-size:1.25em;
}

p {
  line-height:25px;
  margin:20px 0;
}

.button {
  display:inline-block !important;
  border:0;
  margin:10px 0;
  padding:10px 18px;
  outline:0 none;
  color:#fff;
  text-decoration:none;
  border-radius:3px;
  background-color:#dadada;
  cursor:pointer;
  font-family:inherit;
}

.button.blue {
  background-color:#5e9ed6;
}

.button.red {
  background-color:#f15b5b;
}

.button.bayern {
  background-color:#005f9a;
}

.button.smalltext {
  font-size:0.85em;
}

input[type=text], input[type=password] {
  border:1px solid #dadada;
  padding:10px 17px;
  width:100%;
  color:#000;
  outline:0 none;
  border-radius:3px;
}

input[type=text]:focus, input[type=password]:focus {
  border-color:#000;
}

form ul > li {
  margin-top:10px;
}

form label {
  display:block;
  margin-bottom:5px;
}

form label + input[type=text], form label + input[type=password] {
  margin-bottom:10px;
}

form .help-block {
  /*margin-bottom:20px;*/
  margin-top:5px;
  font-size:0.75em;
  padding-left:5px;
  color:#005f9a;
}

.form-center {
  text-align:center;
}

.pulse {
  animation: pulse 500ms infinite ease;
}

@keyframes pulse {
  0% {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1)
  }
  100% {
    transform:scale(1,1);
    -webkit-transform:scale(1,1);
  }
}

header {
  position:relative;
  background-color:#fff;
  color:#005f9a;
  /*padding:10px;*/
  line-height:60px;
  border-bottom:1px solid #005f9a;
  z-index:10;
}

header #logo {
  display:block;
  float:left;
  width:84px;
  padding:10px 0;
}

header #logo img {
  max-width:100%;
  vertical-align:middle;
}

header nav {
  position:relative;
  float:right;
}

header nav ul > li {
  position:relative;
  float:left;
  margin:0 10px;
  padding:10px 20px;
  transition:background-color 250ms;
  -webkit-transition:background-color 250ms;
}

header nav ul > li:hover {
  background-color:#fff;
  color:#005f9a;
}

header nav ul > li a {
  /*font-size:0.85em;*/
  /*font-weight:800;*/
}

header nav ul > li .dropdown {
  display:none;
  position:absolute;
  width:320px;
  /*padding:0 10px;*/
  background-color:#005f9a;
  color:#fff;
  z-index:999;
  /*border:1px solid #dadada;*/
  /*border-top:0;*/
  /*border-radius:3px;*/
  left:0;
  /*top:10px;*/
}

header nav ul > li:hover .dropdown {
  display:block;
}

header nav ul > li .dropdown ul > li {
  width:100%;
  padding:0 15px;
  margin:0;
}

/* Main Content */
#main-content,
.main-content {
  position:relative;
  min-height:100%;
  height:100%;
  margin:-83px 0 -52px;
  padding:83px 0 105px;
  /*border-bottom:2px solid #005f9a;*/
}

#main-content.auto,
.main-content.auto {
  height:auto;
}

footer {
  position:relative;
  /*padding:10px 0;*/
  /*background-color:#005f9a;*/
  border-top:3px solid #005f9a;
  z-index:10;
  width:90%;
  margin:0 auto;
}

footer #sponsors {
  position:relative;
  text-align:center;
}

footer #sponsors .sponsor-img {
  display:inline-block;
  position:relative;
  margin:0 25px;
  max-width:85px;
}

footer #sponsors .sponsor-img img {
  max-width:100%;
  vertical-align:middle;
}

.custom-modal {
  position:fixed;
  width:500px;
  top:50%;
  left:50%;
  margin-left:-250px;
  background-color:#fff;
  border-radius:5px;
  color:#515151;
}

/** GLOBAL HEADER **/
.global-sponsored-header {
  position:relative;
  margin:15px 0 50px;
  text-align:center;
}

.global-sponsored-header img {
  display:inline-block !important;
  margin:0 10px;
  width:230px;
  height:auto;
}
