#teaser {
  position:relative;
  height:100%;
}

#teaser .left {
  position:relative;
  float:left;
  height:100%;
  width:50%;
  overflow:hidden;
}

#teaser .left img {
  display:block;
  float:left;
  /*width:100%;*/
  margin-left:-140px;
  height:100%;
  /*width:auto;*/
}

#teaser .right {
  position:relative;
  float:right;
  padding:50px;
  width:50%;
  height:100%;
  overflow-y:scroll;
}

#teaser .right .content-box {
  position:relative;
  width:80%;
  margin:0 auto;
  padding:20px 0;
}

#teaser .right .content-box h1 {
  font-size:2em;
}

#teaser .right .content-box p {
  font-size:1.2em;
  line-height:35px;
  text-align:justify;
}

#teaser .right .content-box .submit-operation {
  position:relative;
  margin-top:30px;
  /*text-align:center;*/
}

/** CONTACT PAGE **/
#contact-map {
  position:relative;
  width:100%;
  height:500px;
  border:10px solid #fafafa;
  border-radius:3px;
}

#contact .contact-content {
  position:relative;
  padding:50px 0;
}

#contact .contact-content .left {
  position:relative;
  float:left;
  width:35%;
}

 #contact .contact-content .right {
   position:relative;
   float:left;
   width:65%;
 }

#contact .contact-content .left h1 {
  font-size:1.5em;
  font-weight:500;
}

#contact .contact-content .left .contact-address {
  position:relative;
  margin-top:50px;
}

#contact .contact-content .left .contact-address .contact-logo-container {
  position:relative;
  /*text-align:center;*/
}

#contact .contact-content .left .contact-address .contact-logo-container img {
  width:200px;
}

#contact .contact-content .left .contact-address p {
  margin:5px 0;
  line-height:22px;
  font-weight:400;
}

#contact .contact-content .left .contact-address p.contact-company-name {
  font-size:1.25em;
  font-weight:600 !important;
}

#contact .contact-content .left .social-icon-container {
  position:relative;
  margin-top:30px;
}

#registration-content {
  position:relative;
}

#registration-content #registration-form-container {
  position:relative;
  width:100%;
  margin:0 auto;
}

.registration-form-header {
  position:relative;
  padding:30px 0;
}

.registration-form-header .bayern-vertical-logo {
  position:absolute;
  width:120px;
  left:0;
  top:-12px;
}

.registration-form-header .bayern-sponsored {
  position:relative;
  text-align:center;
}

.registration-form-header .bayern-sponsored img {
  width:230px;
  height:auto;
}

.registration-form-header img {
  width:100%;
}

.registration-form-header h1 {
  font-size:1.85em;
  margin-top:35px;
  text-align:center;
  font-size:400;
  color:#961933;
}

#registration-content #registration-form-container #registration-form {
  position:relative;
  padding-bottom:100px;
}

#registration-content #registration-form-container #registration-form ul > li {
  position:relative;
  margin-top:20px;
}

#registration-content #registration-form-container #registration-form ul > li.make-center {
  text-align:center;
}

#registration-content #registration-form-container #registration-form ul > li .arrow-container {
  position:relative;
  display:inline-block;
  width:110px;
}

#registration-content #registration-form-container #registration-form ul > li .arrow-container img {
  width:100%;
}

#registration-content #registration-form-container #registration-form ul > li .next-to-arrow {
  display:inline-block;
}

#registration-content #registration-form-container #registration-form ul > li .form-group {
  position:relative;
  float:left;
  width:100%;
  padding:0 20px;
}

#registration-content #registration-form-container #registration-form ul > li.col-2 .form-group {
  width:calc(100%/2);
}

#registration-content #registration-form-container #registration-form ul > li.col-3 .form-group {
  width:calc(100%/3);
}

#registration-content #registration-form-container #registration-form ul > li.col-4 .form-group {
  width:calc(100%/4);
}

#registration-content #registration-form-container #registration-form ul > li .form-group:first-child {
  padding-left:0;
}

#registration-content #registration-form-container #registration-form ul > li .form-group:last-child {
  padding-right:0;
}

/** FORM GROUP CUSTOM SPAN **/
#registration-content #registration-form-container #registration-form ul > li.custom [class^="span-"] {
  position:relative;
  float:left;
  padding:0 20px;
}

#registration-content #registration-form-container #registration-form ul > li.custom [class^="span-"]:first-child {
  padding-left:0;
}

#registration-content #registration-form-container #registration-form ul > li.custom [class^="span-"]:last-child,
#team-registration-form-container #registration-form ul > li.custom [class^="span-"]:last-child {
  padding-right:0;
}

#registration-content #registration-form-container #registration-form ul > li.custom .span-1 {
  width:calc(100%/6);
}

#registration-content #registration-form-container #registration-form ul > li.custom .span-2 {
  width:calc((100%/6)*2);
}

#registration-content #registration-form-container #registration-form ul > li.custom .span-3 {
  width:50%;
}

/** ========================== **/

#registration-content #registration-form-container #registration-form .form-group.span-1-6 {
  width:calc(100%/6);
}

#registration-content #registration-form-container #registration-form .form-group.span-2-6 {
  width:calc((100%/6)*2);
}

#registration-content #registration-form-container #registration-form .form-group.span-3-6 {
  width:calc((100%/6)*3);
}

#registration-content #registration-form-container #registration-form .form-group.span-4-6 {
  width:calc((100%/6)*4);
}

#registration-content #registration-form-container #registration-form .form-group.span-5-6 {
  width:calc((100%/6)*5);
}

#registration-content #registration-form-container #registration-form .form-group.span-6-6 {
  width:calc((100%/6)*6);
}

#registration-content #registration-form-container #registration-form input[type=text], #registration-form input[type=date], select {
  border-radius:25px;
  padding:8px 16px;
  background-color:#f3f3f3;
  border:0;
}

#registration-content #registration-form-container #registration-form input[type=date], select {
   width:100%;
   outline:0 none;
}

#registration-content #registration-form-container #registration-form .id-card-uploader,
.id-card-uploader {
  position:relative;
  overflow:hidden;
  margin:10px;
  border-radius:30px;
  background-color:#961933;
}

#registration-content #registration-form-container #registration-form .id-card-uploader.attached,
.id-card-uploader.attached {
  background-color:#dadada;
  color:#fff;
}

#registration-content #registration-form-container #registration-form .id-card-uploader input[type=file],
.id-card-uploader input[type=file] {
  position:absolute;
  top:0;
  right:0;
  margin:0;
  padding:0;
  font-size:20px;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
}

#registration-content #registration-form-container #registration-form #registration-form-arenas,
.registration-form-arenas {
  position:relative;
  margin-top:60px;
}

.registration-form-arenas .form-group {
  position:relative;
  width:100%;
}

.registration-form-arenas .form-group .each-radiobox {
  position:relative;
  width:100%;
  vertical-align:middle;
  margin:10px 0;
}

/**/

/*#registration-content #registration-form-container #registration-form .registration-form-arena {
  position:relative;
  margin-top:160px;
}*/

/*#registration-content #registration-form-container #registration-form .registration-form-arena .form-group {
  position:relative;
  width:100%;
}*/

/**/

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group,
.registration-form-arenas ul > li .form-group,
.registration-form-arenas .form-group
.acceptance .form-group {
  position:relative;
  width:100%;
  vertical-align:middle;
  color:#a5a5a5;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-label,
.registration-form-arenas .form-group .each-radiobox .radio-label,
.acceptance .form-group .radio-label {
  position:relative;
  float:left;
  margin:2px;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-label .radio-label-input-group,
.registration-form-arenas .form-group .each-radiobox .radio-label .radio-label-input-group,
.acceptance .form-group .radio-label .radio-label-input-group {
  width:20px;
  height:20px;
  margin:0;
  padding:0;
  vertical-align:middle;
  background:url('../images/radiocheck.png') no-repeat;
  background-size:20px;
  background-position:0 0;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-label .radio-label-input-group.checked,
.registration-form-arenas .form-group .each-radiobox .radio-label .radio-label-input-group.checked,
.acceptance .form-group .radio-label .radio-label-input-group.checked {
  background-position:0 -29px;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-label input[type=radio],
.registration-form-arenas .form-group .each-radiobox .radio-label input[type=radio],
.acceptance .form-group .radio-label input[type=radio] {
  position:absolute;
  opacity:0;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-label .custom-radio,
.registration-form-arenas .form-group .each-radiobox .radio-label .custom-radio,
.acceptance .form-group .radio-label .custom-radio {
  position:absolute;
  width:36px;
  height:36px;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group input[type=radio],
.registration-form-arenas .form-group .each-radiobox .form-group input[type=radio],
.acceptance .form-group input[type=radio] {
  display:block;
  margin:3px;
  float:left;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-label .control-label:before,
.registration-form-arenas .form-group .each-radiobox .control-label:before,
.acceptance .form-group .radio-label .control-label:before {
  content:'';
  display:table;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-label .control-label:after,
.registration-form-arenas .form-group .each-radiobox .control-label:after,
.acceptance .form-group .radio-label .control-label:after {
  clear:both;
}

.acceptance {
  position:relative;
  margin:50px 0;
  text-align:center;
}

.acceptance .form-group {
  display:inline-block;
  width:auto;
}

.acceptance .form-group .control-label {
  float:left;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-left,
.registration-form-arenas .form-group .each-radiobox .radio-left {
  display:block;
  margin-left:10px;
  float:left;
}

#registration-content #registration-form-container #registration-form #registration-form-arenas ul > li .form-group .radio-right,
.registration-form-arenas .form-group .each-radiobox .radio-right {
  display:block;
  float:right;
}

#registration-content #registration-form-container #registration-form #remarks,
.remarks {
  position:relative;
  margin-top:50px;
  color:#961933;
}

#registration-content #registration-form-container #registration-form #remarks h5,
.remarks h5 {
  font-weight:400;
}

#registration-content #registration-form-container #registration-form #remarks ul > li,
.remarks ul > li {
  margin-top:5px;
  line-height:26px;
}

#registration-content #registration-form-container #registration-form #remarks ul > li strong,
.remarks ul > li strong {
  font-weight:600;
}

#registration-content #registration-form-container #registration-form #remarks ul > li:before
.remarks ul > li:before {
  content:'- ';
}

#registration-content #registration-form-container #registration-form #remarks ul > li:first-child
.remarks ul > li:first-child {
  margin-top:0;
}

#registration-content #registration-form-container #registration-form #acceptance {
  position:relative;
  margin-top:50px;
  text-align:center;
}


#registration-content #registration-form-container #registration-form #acceptance .form-group {
  display:inline-block;
}

#registration-content #registration-form-container #registration-form #acceptance .form-group .radio-label {
  position:relative;
  float:left;
}

#registration-content #registration-form-container #registration-form #acceptance input[type=radio] {
  display:block;
  margin:3px;
  float:left;
}

#registration-content #registration-form-container #registration-form .acceptance .radio-left {
  float:left;
  margin-left:5px;
  font-size:1.25em;
  color:#961933;
}

#registration-content #registration-form-container #registration-form #submit-button-container,
.submit-button-container {
  position:relative;
  margin-top:50px;
  text-align:center;
}

#registration-content #registration-form-container #registration-form #submit-button-container button,
.submit-button-container button,
.submit-button-container .button {
  border-radius:30px;
  background-color:#961933;
  cursor:pointer;
}

/** TEAM REGISTRATION **/
#team-registration-form-container {
  position:relative;
  padding-bottom:100px;
}

#team-registration-form-container #form-navigation-container {
  position:relative;
  width:100%;
  margin:10px 0 50px;
  text-align:center;
}

#team-registration-form-container #form-navigation-container .form-navigator {
  display: inline-block;
  text-decoration: none;
  color: #949494;
  margin:0 10px;
  background-color: #dadada;
  width: 80px;
  height: 80px;
  padding: 26px 16px;
  text-align: center;
  border-radius: 80%;
  transition:background 250ms ease-in-out;
  -webkit-transition:background 250ms ease-in-out;
  -moz-transition:background 250ms ease-in-out;
  -ms-transition:background 250ms ease-in-out;
  -o-transition:background 250ms ease-in-out;
}

/*#team-registration-form-container #form-navigation-container .form-navigator:hover,*/
#team-registration-form-container #form-navigation-container .form-navigator.selected {
  background-color:#961933;
  color:#fff;
}

#team-registration-form-container input[type=text], #registration-form input[type=date], select {
  border-radius:25px;
  padding:8px 16px;
  background-color:#f3f3f3;
  border:0;
}

#team-registration-form-container .each-form {
  position:relative;
}

#team-registration-form-container .each-form.player {
  padding:50px 0 100px;
}

#team-registration-form-container .each-form h1 {
  text-align:center;
  font-size:1.8em;
  margin-bottom:30px;
  font-weight:400;
  color:#961933;
}

#team-registration-form-container .each-form ul > li {
  position:relative;
  margin:20px 0;
}

#team-registration-form-container .each-form ul > li .form-group {
  position:relative;
  float:left;
  padding:0 10px;
}

#team-registration-form-container .each-form ul > li.col-2 .form-group {
  width:50%;
}

#team-registration-form-container .each-form ul > li.col-3 .form-group {
  width:calc(100%/3);
}

#team-registration-form-container .each-form ul > li.full .form-group {
  width:100%;
}

#team-registration-form-container .each-form ul > li.custom [class^="span-"] {
  position:relative;
  float:left;
  padding:0 20px;
}

#team-registration-form-container .each-form ul > li.custom [class^="span-"]:first-child {
  padding-left:0;
}

#team-registration-form-container .each-form ul > li.custom [class^="span-"]:last-child {
  padding-right:0;
}

#team-registration-form-container .each-form ul > li.custom .span-1 {
  width:calc(100%/6);
}

#team-registration-form-container .each-form ul > li.custom .span-2 {
  width:calc((100%/6)*2);
}

#team-registration-form-container .each-form ul > li.custom .span-3 {
  width:50%;
}

.upload-button-container {
  position:relative;
  margin-top:50px;
}

.upload-button-container.make-center {
  text-align:center;
}

.upload-button-container .next-to-arrow {
  display:inline-block;
}

.upload-button-container .arrow-container {
  position:relative;
  display:inline-block;
  width:110px;
}

.upload-button-container .arrow-container img {
  width:100%;
}



/** RENDERER **/

.registration-render {
  position:relative;
  padding:50px 0;
}

.registration-render .header {
  position:relative;
  margin:10px 0;
  text-align:center;
}

.registration-render .header h1 {
  font-size:1.8em;
  font-weight:800;
}

.registration-render .header p {
  margin-top:5px;
  color:red;
}

.registration-render .registration-information {
  position:relative;
  margin-top:50px;
}

.registration-render .registration-information .row {
  position:relative;
  margin:20px 0;
}

.registration-render .registration-information .row .img-container {
  position:relative;
  text-align:center;
  padding:50px 0;
}

.registration-render .registration-information .row .img-container img {
  max-width:350px;
}

.registration-render .registration-information .row p {
  margin:0 !important;
  color:#961933;
}

.registration-render .registration-information .row p span {
  color:#000;
}

.registration-render .registration-information .col-1,
.registration-render .registration-information .col-2,
.registration-render .registration-information .col-3,
.registration-render .registration-information .col-4,
.registration-render .registration-information .col-5,
.registration-render .registration-information .col-6 {
  position:relative;
  float:left;
}

.registration-render .registration-information .col-1 {
  width:calc(100%/6);
}

.registration-render .registration-information .col-2 {
  width:calc((100%/6)*2);
}

.registration-render .registration-information .col-3 {
  width:calc((100%/6)*3);
}

.registration-render .registration-information .col-4 {
  width:calc((100%/6)*4);
}

.registration-render .registration-information .col-5 {
  width:calc((100%/6)*5);
}

.registration-render .registration-information .col-6 {
  width:calc((100%/6)*6);
}

/** TEAM RENDER **/
.registration-render .registration-information #team-member-render-zone {
  position:relative;
}

.registration-render .registration-information #team-member-render-zone .each-member {
  position:relative;
  padding:10px 0 30px;
  border-bottom:1px solid #dadada;
}

/** REGULATIONS **/
section#regulations {
  position:relative;
  padding:50px 0 100px;
}

section#regulations .text, section#regulations .list {
  margin:30px 0;
}

section#regulations h1 {
  font-size:1.8em;
  font-weight:800;
}

section#regulations h5 {
  font-weight:800;
  font-size:1.1em;
}

section#regulations .list ol {
  list-style-type:decimal;
  padding:0 20px;
}

section#regulations .list ol > li {
  margin-top:10px;
  line-height:22px;
}

section#regulations .text .two-cols {
  position:relative;
}

section#regulations .text .two-cols p {
  float:left;
  margin:5px 0;
}

section#regulations .text .two-cols p:nth-child(1) {
  width:20%;
}

section#regulations .text .two-cols p:nth-child(2) {
  width:80%;
  text-align:right;
}

section#regulations table {
  position:relative;
  margin:30px auto;
  width:80%;
}

section#regulations table tr th {
  font-weight:800;
}

section#regulations table tr td, section#regulations table tr th {
  padding:5px;
  border:1px solid #000;
}

/** SUCCESS PAGE **/
#notifier {
  position: relative;
  width: 60%;
  margin: 70px auto;
  text-align: center;
  border: 1px solid #bce8f1;;
  padding:25px 10px;
  color: #31708f;
  background-color: #d9edf7;
  border-radius: 5px;
}

#notifier h1 {
  font-size:1.5em;
  font-weight:600;
  margin:10px 0;
}

#notifier p {
  margin:8px 0;
}

#notifier p:first-child {
  margin-top:20px;
}

#notifier .button-container {
  margin-top:25px;
}

#notifier .button-container .link-btn {
  display:inline-block;
  border:0;
  padding:10px 17px;
  color: #186d98;
  background-color: #76b2d2;
  border-radius:5px;
  outline:0 none;
}

/** NEWS AND UPDATES **/
#news-and-updates {
  position:relative;
  padding:65px 0 100px;
  color:#961933;
}

#news-and-updates h1 {
  font-size:1.6em;
  font-weight:600;
}

#news-and-updates .region-container {
  position:relative;
  margin-top:50px;
}

#news-and-updates .region-container .each-region {
  position:relative;
  margin-top:50px;
}

#news-and-updates .region-container .each-region h3 {
  font-size:1.25em;
  font-weight:500;
}

#news-and-updates .region-container .each-region .each-arena {
  position:relative;
  margin:25px 0;
}

#news-and-updates .region-container .each-region .each-arena p {
  font-size:1.1em;
  margin:5px 0;
  font-weight:300;
}

/** ADMIN **/
#admin-image-container {
  position:relative;
  text-align:center;
}

#admin-image-container img {
  display:inline-block;
  width:380px;
}
