body {
  font-family: "Garuda";
  font-size:11pt;
}

.global-sponsored-header {
  position:relative;
  text-align:center;
}

.global-sponsored-header .header {
  margin-top:30px;
}

h1,h3 {
  margin:0;
  /*font-size:1.5em;*/
}

p {
  margin:0;
  font-size:10px !important;
}

img {
  display:inline-block;
  width:120px;
}

[class^="col-"] {
  float:left;
  /*text-align:center;*/
}

.col-2 {
  float:left;
  width:33.3333333333%;
}

.col-3 {
  float:left;
  width:50%;
}

.content {
  position:relative;
  margin-top:50px;
  /*text-align:left;*/
  font-size:0.85em;
}

.content p {
  margin:0;

}

.content .information {
  position:relative;
}

.content .information h5 {
  margin:0px 0;
  text-align:left;
}

.content .details {
  position:relative;
  margin-top:20px;
}

.content .details p {
  font-size:0.8em;
  font-weight:800;
  /*color:#515151;*/
  text-align:left;
}

.content .details p span {
  color:#000;
}
