
/* RESPONSIVE STYLING */

/** TABLETS & SMALL PC SCREENS **/
@media screen and (min-width:768px) and (max-width:1079px) {
  .wrapper {
    width:90%;
  }

  a#logo {
    width:100%;
    text-align:center;
  }

  a#logo img {
    max-width:100px;
  }

  header nav {
    float:none;
    width:100%;
    text-align:center;
  }

  header nav ul > li {
    float:none;
    display:inline-block;
  }

  header nav ul > li .dropdown {
    background-color:#fff;
    color:#005f9a;
  }

  header nav ul > li .dropdown ul > li:hover {
    background-color:#005f9a;
    color:#fff;
  }

  #registration-form-arenas .form-group .each-radiobox,
  .registration-form-arenas .form-group .each-radiobox  {
    margin:20px 0;
  }

  .registration-form-arenas .form-group .each-radiobox .control-label {
    float:left;
    padding-left:20px;
  }

  #registration-form-arenas ul > li .form-group .radio-left,
  .registration-form-arenas .form-group .each-radiobox .radio-left {
    float:none;
    margin-left:0;
  }

  #registration-form-arenas ul > li .form-group .radio-right,
  .registration-form-arenas .form-group .each-radiobox .radio-right {
    float:none;
    margin-top:10px;
  }
}

/** TABLETS **/
@media screen and (min-width:480px) and (max-width:767px) {
  .wrapper {
    width:90%;
  }

  a#logo {
    width:100%;
    text-align:center;
  }

  a#logo img {
    max-width:100px;
  }

  header nav {
    float:none;
    width:100%;
    text-align:center;
  }

  header nav ul > li {
    float:none;
    display:inline-block;
  }

  header nav ul > li .dropdown {
    background-color:#fff;
    color:#005f9a;
  }

  header nav ul > li .dropdown ul > li:hover {
    background-color:#005f9a;
    color:#fff;
  }

  #registration-content #registration-form-container #registration-form ul > li {
    margin:0;
  }

  #registration-content #registration-form-container #registration-form ul > li .form-group {
    padding:0;
    margin:10px 0;
    float:none;
  }

  #registration-content #registration-form-container #registration-form ul > li.col-2 .form-group,
  #registration-content #registration-form-container #registration-form ul > li.col-3 .form-group {
    width:100%;
  }

  #registration-content #registration-form-container #registration-form ul > li.col-2 .form-group:last-child {
    padding:0;
  }

  #registration-content #registration-form-container #registration-form ul > li.custom [class^="span-"] {
    padding:0 5px;
    margin:5px 0;
  }

  #registration-content #registration-form-container #registration-form ul > li.custom [class^="span-"]:last-child {
    margin-bottom:0;
  }

  #registration-content #registration-form-container #registration-form ul > li.custom .span-1 {
    width:calc(100%/3);
    float:left;
  }

  #registration-content #registration-form-container #registration-form ul > li.custom .span-3 {
    width:100%;
  }

  /** Team Registration **/

  #team-registration-form-container #form-navigation-container .form-navigator {
    margin:10px;
  }

  #team-registration-form-container .each-form ul > li.custom [class^="span"] {
    padding:0;
    margin:10px 0;
  }

  #team-registration-form-container .each-form ul > li.custom .span-1 {
    width:calc(100%/3);
  }

  #team-registration-form-container .each-form ul > li.custom .span-3 {
    width:100%;
  }

  #team-registration-form-container .each-form ul > li {
    margin:0;
  }

  #team-registration-form-container .each-form ul > li .form-group {
    margin:10px 0;
    padding:0;
  }

  #team-registration-form-container .each-form ul > li.col-2 .form-group,
  #team-registration-form-container .each-form ul > li.col-3 .form-group {
    width:100%;
  }

  /** ARENA ZONE **/

  #registration-form-arenas,
  .registration-form-arenas {
    font-size:0.85em;
  }

  #registration-form-arenas .form-group .each-radiobox,
  .registration-form-arenas .form-group .each-radiobox  {
    margin:20px 0;
  }

  .registration-form-arenas .form-group .each-radiobox .control-label {
    float:left;
    padding-left:20px;
  }

  #registration-form-arenas ul > li .form-group .radio-left,
  .registration-form-arenas .form-group .each-radiobox .radio-left {
    float:none;
    margin-left:0;
  }

  #registration-form-arenas ul > li .form-group .radio-right,
  .registration-form-arenas .form-group .each-radiobox .radio-right {
    float:none;
    margin-top:10px;
  }
}

/** SMARTPHONES **/
@media screen and (max-width:479px) {
  .wrapper {
    width:90%;
  }

  a#logo {
    width:100%;
    text-align:center;
  }

  a#logo img {
    max-width:100px;
  }

  #registration-content #registration-form-container #registration-form ul > li .arrow-container {
    display:none;
  }

  .registration-form-header .bayern-sponsored img {
    margin-top:10px;
    margin-bottom:10px;
  }

  header nav {
    /*display:none;*/
    float:none;
    width:100%;
    text-align:center;
  }

  header nav ul > li {
    float:none;
    display:inline-block;
    width:100%;
    padding:0;
  }

  header nav ul > li .dropdown {
    background-color:#fff;
    color:#005f9a;
  }

  header nav ul > li .dropdown ul > li:hover {
    background-color:#005f9a;
    color:#fff;
  }

  #registration-content #registration-form-container #registration-form ul > li {
    margin:0;
  }

  #registration-content #registration-form-container #registration-form ul > li .form-group {
    padding:0;
    margin:10px 0;
    float:none;
  }

  #registration-content #registration-form-container #registration-form ul > li.col-2 .form-group,
  #registration-content #registration-form-container #registration-form ul > li.col-3 .form-group {
    width:100%;
  }

  #registration-content #registration-form-container #registration-form ul > li.col-2 .form-group:last-child {
    padding:0;
  }

  #registration-content #registration-form-container #registration-form ul > li.custom [class^="span-"] {
    padding:0 5px;
    margin:5px 0;
  }

  #registration-content #registration-form-container #registration-form ul > li.custom [class^="span-"]:last-child {
    margin-bottom:0;
  }

  #registration-content #registration-form-container #registration-form ul > li.custom .span-1 {
    width:calc(100%/3);
    float:left;
  }

  #registration-content #registration-form-container #registration-form ul > li.custom .span-3 {
    width:100%;
  }

  /** Team Registration **/

  #team-registration-form-container #form-navigation-container .form-navigator {
    margin:10px;
  }

  .upload-button-container .arrow-container {
    display:none;
  }

  #team-registration-form-container .each-form ul > li.custom [class^="span"] {
    padding:0;
    margin:10px 0;
  }

  #team-registration-form-container .each-form ul > li.custom .span-1 {
    width:calc(100%/3);
  }

  #team-registration-form-container .each-form ul > li.custom .span-3 {
    width:100%;
  }

  #team-registration-form-container .each-form ul > li {
    margin:0;
  }

  #team-registration-form-container .each-form ul > li .form-group {
    margin:10px 0;
    padding:0;
  }

  #team-registration-form-container .each-form ul > li.col-2 .form-group,
  #team-registration-form-container .each-form ul > li.col-3 .form-group {
    width:100%;
  }

  /** ARENA ZONE **/

  #registration-form-arenas,
  .registration-form-arenas {
    font-size:0.85em;
  }

  #registration-form-arenas .form-group .each-radiobox,
  .registration-form-arenas .form-group .each-radiobox  {
    margin:20px 0;
  }

  .registration-form-arenas .form-group .each-radiobox .control-label {
    float:left;
    padding-left:20px;
    text-align:center;
    line-height:20px;
  }

  #registration-form-arenas ul > li .form-group .radio-left,
  .registration-form-arenas .form-group .each-radiobox .radio-left {
    float:none;
    margin-left:0;
  }

  #registration-form-arenas ul > li .form-group .radio-right,
  .registration-form-arenas .form-group .each-radiobox .radio-right {
    float:none;
    margin-top:10px;
  }

  .registration-form-arenas .form-group .each-radiobox .radio-label {
    float:none;
    margin:10px 0;
    text-align:center;
  }

  .registration-form-arenas .form-group .each-radiobox .radio-label .radio-label-input-group {
    display:inline-block;
  }
}